# Azure credentials
AZURE_SUBSCRIPTION_ID=<your-subscription-id-here>
AZURE_RESOURCE_GROUP=rg-rock-joint-detection
AZURE_ML_WORKSPACE=ws-rock-joint-det
AZURE_BLOB_DATASTORE=<blob-datastore>
AZURE_STORAGE_ACCOUNT=<storage-account>
AZURE_STORAGE_KEY=<storage key>
