# Temp and cache files
#######################################

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# VS Code
.vscode/*

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# Mypy cache
.mypy_cache/

# pytest cache
.pytest_cache/

.ruff_cache/

.coverage

# Environment variables and secrets
#######################################
.env
.env.local
*.env

# Data and experiments
#######################################
experiments/
# Ignore data directory
data/

# But don't ignore the model_ready/splits directory and its contents
!data/model_ready/
!data/model_ready/splits/
!data/model_ready/splits/**
models/

plots/

docs/

images_documentation/
